<script th:fragment="submitformactions_js">
    $("#form_answer").submit(function () {
        localStorage.removeItem('passed');
        clearInterval(timerInterval);
        $("#form_answer_button").attr("disabled", true);
    });
</script>

<script th:fragment="countdown_round">
    // Credit: Mateusz Rybczonec

    const FULL_DASH_ARRAY = 283;
    const WARNING_THRESHOLD = 10;
    const ALERT_THRESHOLD = 5;

    const COLOR_CODES = {
        info: {
            color: "green"
        },
        warning: {
            color: "orange",
            threshold: WARNING_THRESHOLD
        },
        alert: {
            color: "red",
            threshold: ALERT_THRESHOLD
        }
    };

    // set timer
    const TIME_LIMIT = setConstant();

    function setConstant() {
        let sessionItem = Number(localStorage.getItem('passed'));
        if (sessionItem !== null && sessionItem > 0) {
            return sessionItem;
        }
        return Number([[${session.question_timer}]]) * 60;
    }

    let timePassed = 0;
    let timeLeft = TIME_LIMIT;
    let timerInterval = null;
    let remainingPathColor = COLOR_CODES.info.color;

    document.getElementById("app").innerHTML = `
<div class="base-timer">
  <svg class="base-timer__svg" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
    <g class="base-timer__circle">
      <circle class="base-timer__path-elapsed" cx="50" cy="50" r="45"></circle>
      <path
        id="base-timer-path-remaining"
        stroke-dasharray="283"
        class="base-timer__path-remaining ${remainingPathColor}"
        d="
          M 50, 50
          m -45, 0
          a 45,45 0 1,0 90,0
          a 45,45 0 1,0 -90,0
        "
      ></path>
    </g>
  </svg>
  <span id="base-timer-label" class="base-timer__label">${formatTime(
        timeLeft
    )}</span>
</div>
`;

    startTimer();

    function onTimesUp() {
        localStorage.removeItem('passed');
        document.getElementById("form_answer").submit();
        clearInterval(timerInterval);
    }

    function startTimer() {
        timerInterval = setInterval(() => {
            timePassed = timePassed += 1;
            timeLeft = TIME_LIMIT - timePassed;

            localStorage.setItem('passed', timeLeft);

            document.getElementById("base-timer-label").innerHTML = formatTime(
                timeLeft
            );
            setCircleDasharray();
            setRemainingPathColor(timeLeft);
            if (timeLeft === 0) {
                onTimesUp();
            }
        }, 1000);
    }

    function formatTime(time) {
        const minutes = Math.floor(time / 60);
        let seconds = time % 60;

        if (seconds < 10) {
            seconds = `0${seconds}`;
        }

        return `${minutes}:${seconds}`;
    }

    function setRemainingPathColor(timeLeft) {
        const {alert, warning, info} = COLOR_CODES;
        if (timeLeft <= alert.threshold) {
            document
                .getElementById("base-timer-path-remaining")
                .classList.remove(warning.color);
            document
                .getElementById("base-timer-path-remaining")
                .classList.add(alert.color);
        } else if (timeLeft <= warning.threshold) {
            document
                .getElementById("base-timer-path-remaining")
                .classList.remove(info.color);
            document
                .getElementById("base-timer-path-remaining")
                .classList.add(warning.color);
        }
    }

    function calculateTimeFraction() {
        const rawTimeFraction = timeLeft / TIME_LIMIT;
        return rawTimeFraction - (1 / TIME_LIMIT) * (1 - rawTimeFraction);
    }

    function setCircleDasharray() {
        const circleDasharray = `${(
            calculateTimeFraction() * FULL_DASH_ARRAY
        ).toFixed(0)} 283`;
        document
            .getElementById("base-timer-path-remaining")
            .setAttribute("stroke-dasharray", circleDasharray);
    }
</script>

<script th:fragment="countdown_digits">
    var yourDateToGo = new Date([[${session.attempt_timer}]] * 1000);
    var timing = setInterval( // you're making an interval - a thing, that is updating content after number of miliseconds, that you're writing after comma as second parameter
        function () {

            var currentDate = new Date().getTime(); //same thing as above
            var timeLeft = yourDateToGo - currentDate; //difference between time you set and now in miliseconds

            var minutes = Math.floor(timeLeft / (1000 * 60)); //conversion miliseconds on minutes - even if it is more than 60 minutes
            if (minutes < 10) minutes = "0" + minutes;
            var seconds = Math.floor((timeLeft % (1000 * 60)) / 1000);//conversion miliseconds on seconds - up to 60
            if (seconds < 10) seconds = "0" + seconds;

            document.getElementById("countdown").innerHTML = minutes + "m " + seconds + "s"; // putting number of minutes and seconds in div,
            //which id is countdown

            if (timeLeft <= 0) {
                clearInterval(timing);
                document.form_answer.action = "/quiz/" + [[${quiz_id}]] + "/finish/" + [[${attempt_id}]];

                document.getElementById("form_answer").submit();
                localStorage.clear();
                document.getElementById("countdown").innerHTML = "Time's up"; //if there's no time left, program in this 2 lines is clearing interval (nothing is counting now)
                //and you see "It's over" instead of time left
            }
        }, 100);
</script>
