<nav th:fragment="navigation" class="navbar navbar-expand-lg navbar-dark bg-dark rounded" aria-label="navbar">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-md-center" id="navbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/quizzes">Technical Quizzes</a>
                </li>
                <li sec:authorize="hasAnyAuthority('SUPER_ADMIN', 'ADMIN')">
                    <a class="nav-link active" href="/admin/java-quizzes">Java Quizzes</a>
                </li>
                <li sec:authorize="hasAuthority('SUPER_ADMIN')">
                    <a class="nav-link active" href="/superadmin/user-management/users">Users Management</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript: document.logoutForm.submit()"> Logout</a>
                    <form name="logoutForm" action="#" th:action="@{/logout}" method="post" hidden>
                        <input hidden type="submit" class="nav-link" value="Log out">
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>