<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap core CSS -->
    <link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles -->
    <link href="/assets/quizzes.css" rel="stylesheet">
    <link href="/assets/navbar.css" rel="stylesheet">

    <title>Super admin - users management</title>
</head>
<body>

<main>

    <!--    Background picture-->
    <div id="bg">
        <img src="/assets/vector-JUL-2021-72.jpg" alt="">
    </div>

    <div class="container">

        <div th:replace="fragments/navigation.html :: navigation"></div>

        <div class="container-fluid btn-group-vertical p-5 rounded border bg-light">

            <div class="container-fluid p-4" style="text-align: center">
                <table style="border: none">
                    <tr><h3>Update authority:</h3></tr>
                    <tr>
                        <td>
                            <form method="post" th:action="@{/superadmin/user-management/users/authority/admin-role}">
                                <input type="hidden" name="_method" value="PUT"/>
                                <label>
                                    User ID:
                                    <input type="number" min="2" name="id">
                                </label>
                                <button type="submit" name="Add admin">Add admin authority</button>
                            </form>
                        </td>
                        <td>
                            <form method="post" th:action="@{/superadmin/user-management/users/authority/user-role}">
                                <input type="hidden" name="_method" value="PUT"/>
                                <label>
                                    Admin ID:
                                    <input type="number" min="2" name="id">
                                </label>
                                <button type="submit" name="Remove admin">Remove admin authority</button>
                            </form>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="container-fluid p-3" style="text-align: center">
                <table class="container table">
                    <h3>Admins:</h3>
                    <tr>
                        <th><label class="tbl_head">Id</label></th>
                        <th><label class="tbl_head">Name</label></th>
                        <th><label class="tbl_head">Email</label></th>
                        <th><label class="tbl_head">Authority</label></th>
                    </tr>

                    <tr th:each="adm: ${ADMIN}">
                        <td>
                            <label th:text="${adm.getId}">#Id</label>
                        </td>
                        <td>
                            <label th:text="${adm.getName()}">#Name</label>
                        </td>
                        <td>
                            <label th:text="${adm.getEmail()}">#Email</label>
                        </td>
                        <td>
                            <label th:text="${adm.getRole()}">#Email</label>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="container-fluid p-3" style="text-align: center">
                <table class="container table">
                    <h3>Users:</h3>
                    <tr>
                        <th><label class="tbl_head">Id</label></th>
                        <th><label class="tbl_head">Name</label></th>
                        <th><label class="tbl_head">Email</label></th>
                        <th><label class="tbl_head">Authority</label></th>
                    </tr>

                    <tr th:each="usr: ${USER}">
                        <td>
                            <label th:text="${usr.getId()}">#Id</label>
                        </td>
                        <td>
                            <label th:text="${usr.getName()}">#Name</label>
                        </td>
                        <td>
                            <label th:text="${usr.getEmail()}">#Email</label>
                        </td>
                        <td>
                            <label th:text="${usr.getRole}">#Role</label>
                        </td>
                    </tr>
                </table>
            </div>


        </div>
    </div>
</main>

<script src="/assets/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>