<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap core CSS -->
    <link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles -->
    <link href="/assets/quizzes.css" rel="stylesheet">
    <link href="/assets/navbar.css" rel="stylesheet">
    <link href="/assets/attempt.css" rel="stylesheet">

    <title>Attempt</title>
</head>
<body>

<main>

    <div id="bg">
        <img src="/assets/vector-JUL-2021-72.jpg" alt="">
    </div>

    <div class="container">
        <div class="container btn-group-vertical p-5 rounded border bg-light" style="text-align: center">
            <form name="form_answer" id="form_answer" method="post"
                  th:action="@{/quiz/{id}/answer/{attemptId} (id=${quiz_id}, attemptId=${attempt_id})}">
                <fieldset>
                    <legend>
                        <h5 th:text="${question.getContent()}"></h5>
                    </legend>
                    <div class="form-check" th:each="answer: ${question.getAnswers()}">
                        <input class="form-check-input" type="checkbox" name="given_answers"
                               th:value="${answer.getId()}">
                        <label class="container-fluid" style="text-align: left;margin-right: 10px"
                               th:text="${answer.getContent()}">
                        </label>
                    </div>
                    <input type="hidden" name="question_id" th:value="${question.getId()}">
                </fieldset>
            </form>
        </div>
        <div class="container btn-group-vertical p-5 rounded border bg-dark">
            <div class="row">
                <div class="col">
                    <input id="form_answer_button" form="form_answer" type="submit" value="Submit now"
                           class="btn btn-block btn-primary"
                           style="padding: 16px">
                </div>
            </div>
            <div class="row">
                <div class="col white-text" style="text-align: left">
                    <label style="float: right">Time remaining for question:</label>
                </div>
            </div>
            <div class="row">
                <div class="col white-text" style="text-align: left">
                    <div id="app"></div>
                </div>
            </div>
            <div class="row">
                <div class="col white-text" style="text-align: left">
                    <div class="row justify-content-center mt-2">
                        <p>
                            Time remaining for quiz:
                        </p>
                    </div>
                    <div class="row justify-content-center border rounded-pill text-white" id="countdown"></div>
                </div>
            </div>
        </div>
    </div>

</main>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="/assets/dist/js/bootstrap.bundle.min.js"></script>
<script th:replace="fragments/attempt_js.html :: submitformactions_js"></script>
<script th:replace="fragments/attempt_js.html :: countdown_digits"></script>
<script src="/assets/countdown_round.js"></script>

</body>
</html>