<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <!--/* Required meta tags */-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="IT technical quizzes">
    <meta name="keywords" content="education, quiz, information technology, programming, study, knowledge">

    <title>Error </title>

    <!--/* Main Stylesheet */-->
    <link rel="stylesheet" href="/modern/css/error.css">

</head>

<section class="centered">
    <h1>Oops! Something went wrong.</h1>
    <img src="/modern/images/error/emoji.png" alt="">
    <h1>Code: <span th:text="${code}"></span></h1>
</section>

<body>

</body>
</html>
