<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <!--/* Required meta tags */-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="IT technical quizzes">
    <meta name="keywords" content="education, quiz, information technology, programming, study, knowledge">
    <meta name="author" content="Themefisher.com">

    <title>Error </title>



</head>


<h1>ERROR TESTING PAGE</h1>
<h1 th:text="${code}"></h1>

<body>

</body>
</html>
