<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap core CSS -->
    <link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles -->
    <link href="/assets/quizzes.css" rel="stylesheet">
    <link href="/assets/navbar.css" rel="stylesheet">

    <title>Statistics</title>
</head>
<body>

<main>

    <!--    Background picture-->
    <div id="bg">
        <img src="/assets/vector-JUL-2021-72.jpg" alt="">
    </div>

    <div class="container">

        <div th:replace="fragments/navigation.html :: navigation"></div>

        <div class="container-fluid btn-group-vertical p-5 rounded border bg-light">

            <div class="container-fluid" style="text-align: center">
<div class="row"><h1>Personal Data</h1></div>
              <div class="row">
                  <div class="col-md-3">
                     <b>Name</b>
                  </div>
                  <div class="col-md-3">
                      <b>Email</b>
                  </div>
                  <div class="col-md-3">
                      <b>Quizzes taken</b>
                  </div>
                  <div class="col-md-3">
                      <b>Registered as</b>
                  </div>
              </div>
                <div class="row">
                    <div class="col-md-3">
                        <label class="tbl_head" th:text="${user.getName()}"/>
                    </div>
                    <div class="col-md-3">
                        <label class="tbl_head" th:text="${user.getEmail()}"/>
                    </div>
                    <div class="col-md-3">
                        <label class="tbl_head" th:text="${user.getTakenQuizzes().size()}"/>
                    </div>
                    <div class="col-md-3">
                        <label class="tbl_head" th:text="${user.getRole().getName()}"/>
                    </div>
                </div>
            </div>

            <div class="container-fluid" style="text-align: center"><h1>Your results</h1></div>
            <table class="container table">
                <tr>
                    <th><label class="tbl_head">Quiz title</label></th>
                    <th><label class="tbl_head">Points</label></th>
                    <th><label class="tbl_head">Time spent</label></th>
                    <th><label class="tbl_head">Quiz max points</label></th>
                </tr>


                <tr class="row_hoover" th:each="takenQuiz: ${user.getTakenQuizzes()}">
                    <td>
                        <a th:href="@{/quiz/{id} (id=${takenQuiz.id})}" th:text="${takenQuiz.getQuizTitle()}">
                        </a>
                    </td>
                    <td>
                        <a th:href="@{/quiz/{id} (id=${takenQuiz.id})}" th:text="${takenQuiz.getScore()}">
                        </a>
                    </td>
                    <td>
                        <a th:href="@{/quiz/{id} (id=${takenQuiz.id})}" th:text="${takenQuiz.getDuration()}">
                        </a>
                    </td>
                    <td>
                        <a th:href="@{/quiz/{id} (id=${takenQuiz.id})}" th:text="${takenQuiz.getQuizMaxScore()}">
                        </a>
                    </td>

                </tr>

            </table>
        </div>

    </div>

</main>

<script src="/assets/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>