<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap core CSS -->
    <link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles -->
    <link href="/assets/quizzes.css" rel="stylesheet">
    <link href="/assets/navbar.css" rel="stylesheet">

    <title>Quizzes</title>
</head>
<body>

<main>

    <!--    Background picture-->
    <div id="bg">
        <img src="/assets/vector-JUL-2021-72.jpg" alt="">
    </div>

    <div class="container">

        <div th:replace="fragments/navigation.html :: navigation"></div>

        <div class="container-fluid btn-group-vertical p-5 rounded border bg-light">

            <div class="container-fluid" style="text-align: center"><h1>Available Java quizzes</h1></div>


            <table class="container table">

                <tbody>
                <tr>
                    <th><label class="tbl_head">Title</label></th>
                    <th><label class="tbl_head">Max score</label></th>
                    <th><label class="tbl_head">Created</label></th>
                    <th><label class="tbl_head">Updated</label></th>

                </tr>


                <tr class="row_hoover" th:each="quiz: ${quizzes}">

                    <td>
                        <a th:href="@{/quiz/{id} (id=${quiz.id})}" th:text="${quiz.title}">
                        </a>
                    </td>
                    <td>
                        <a th:href="@{/quiz/{id} (id=${quiz.id})}" th:text="${quiz.score}">
                        </a>
                    </td>
                    <td>
                        <a th:href="@{/quiz/{id} (id=${quiz.id})}" th:text="${quiz.created}">
                        </a>
                    </td>
                    <td>
                        <a th:href="@{/quiz/{id} (id=${quiz.id})}" th:text="${quiz.updated}">
                        </a>
                    </td>

                </tr>


                </tbody>
            </table>
        </div>

    </div>


</main>

<script src="/assets/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
