<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/userlogin/fonts/icomoon/style.css">
    <link rel="stylesheet" href="/userlogin/css/owl.carousel.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/userlogin/css/bootstrap.min.css">
    <!-- Style -->
    <link rel="stylesheet" href="/userlogin/css/style.css">

    <title>Java Quizzes</title>
</head>
<body>

<div th:insert="fragments/navigation :: navigation"></div>


<div class="container">


    <h1>Available quizzes</h1>


    <tbody>

    <tr th:each="quiz: ${quizzes}">
        <div class="row">
            <div class="col">
                <td th:text="${quiz.title}"/>
            </div>
            <div class="col">
                <td th:text="${quiz.score}"/>
            </div>
            <div class="col">
                <td th:text="${quiz.created}"/>
            </div>
            <div class="col">
                <td th:text="${quiz.updated}"/>
            </div>
        </div>
    </tr>
    <tbody/>


</div>



<script src="/userlogin/js/jquery-3.3.1.min.js"></script>
<script src="/userlogin/js/popper.min.js"></script>
<script src="/userlogin/js/bootstrap.min.js"></script>
<script src="/userlogin/js/main.js"></script>
</body>
</html>





