<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap core CSS -->
    <link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles -->
    <link href="/assets/quizzes.css" rel="stylesheet">
    <link href="/assets/navbar.css" rel="stylesheet">

    <title>Start</title>
</head>
<body>

<main>
    <div id="bg">
        <img src="/assets/vector-JUL-2021-72.jpg" alt="">
    </div>

    <div class="container">
        <div th:replace="fragments/navigation.html :: navigation"></div>

        <div class="container btn-group-vertical p-5 rounded border bg-light">
            <div class="container" style="text-align: center"><h1>Do your best, forget the rest!</h1></div>
            <p></p>
            <p></p>
            <p></p>

            <div class="container justify-content-md-center">
                <form name="random_quiz" id="form_answer" method="post"
                      th:action="@{/quizzes/random}">
                    <div class="row justify-content-md-center">

                        <div class="mb-3 col-md-6">
                            <label class="form-label">Category</label>
                            <select name="tag" class="mb-3 form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                                <option selected>Linux</option>
                                <option value="1">Bash</option>
                                <option value="2">Kubernetes</option>
                                <option value="3">HTML</option>
                                <option value="4">JavaScript</option>
                                <option value="5">PHP</option>
                                <option value="6">SQL</option>
                                <option value="7">WordPress</option>
                            </select>
                            <label class="form-label">Number of questions</label>
                            <select name="no_of_questions" class="mb-3 form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                                <option selected>20</option>
                                <option value="1">10</option>
                                <option value="2">5</option>
                            </select>
                        </div>

                    </div>

                    <div class="row justify-content-md-center">
                        <div class="mb-3 col-6 justify-content-md-center">
                            <input type="submit" class="start_quiz" value="Take quiz"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

<script src="/assets/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>