<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/userlogin/fonts/icomoon/style.css">
    <link rel="stylesheet" href="/userlogin/css/owl.carousel.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/userlogin/css/bootstrap.min.css">
    <!-- Style -->
    <link rel="stylesheet" href="/userlogin/css/style.css">

    <title>Register</title>
</head>
<body>

<div class="d-lg-flex half">

    <div class="bg order-1 order-md-2" style="background-image: url('/userlogin/images/bg_1.jpg')"></div>

    <div class="contents order-2 order-md-1">

        <div class="container">

            <div class="row align-items-center justify-content-center">
                <img src="/userlogin/images/logo_java.png">
                <div class="col-md-7">

                    <h3 style="text-align: center">Create new account</h3>
                    <br>
                    <p class="mb-4">and learn something new!</p>

                    <form action="#" th:action="@{/user/register}" th:object="${newUserDTO}" method="post">
                        <div class="form-group first">
                            <label for="new-user-name">Name</label>
                            <input type="text" th:field="*{name}" class="form-control" id="new-user-name"
                                   name="new-user-name"/>
                            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" th:errorclass="fieldError">
                                Incorrect name</p>
                        </div>

                        <div class="form-group">
                            <label for="new-user-email">Email</label>
                            <input type="email" th:field="*{email}" class="form-control" id="new-user-email"
                                   name="new-user-email"/>
                            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" th:errorclass="fieldError">
                                Incorrect email</p>
                        </div>

                        <div class="form-group">
                            <label for="new-user-password">Password</label>
                            <input type="password" th:field="*{password}" class="form-control" id="new-user-password"
                                   name="new-user-password"/>
                            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                               th:errorclass="fieldError">Password error</p>
                        </div>

                        <div class="form-group last mb-3">
                            <label for="new-user-m-password">Repeat password</label>
                            <input type="password" th:field="*{matchingPassword}" class="form-control"
                                   id="new-user-m-password" name="new-user-m-password"/>
                            <p th:if="${#fields.hasErrors('matchingPassword')}" th:errors="*{matchingPassword}"
                               th:errorclass="fieldError">Repeat Password error</p>
                            <p th:if="${#fields.hasErrors('global')}" th:errors="*{global}" th:errorclass="fieldError">
                                Non-matching passwords</p>
                        </div>
                        <input type="submit" value="Register" class="btn btn-block btn-primary">
                    </form>


                </div>
            </div>
        </div>
    </div>
</div>

<script src="/userlogin/js/jquery-3.3.1.min.js"></script>
<script src="/userlogin/js/popper.min.js"></script>
<script src="/userlogin/js/bootstrap.min.js"></script>
<script src="/userlogin/js/main.js"></script>

</body>
</html>