<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<!-- *************************************************************** -->
<!-- This file is required                                           -->
<!-- *************************************************************** -->

<suite name="QuizzesSuite" time-out="10000" verbose="1">
    <test name="CompleteTests">
        <groups>
            <run>
                <include name="Mapper"/>
            </run>
        </groups>
        <classes>
            <class name="spyra.lukasz.javaquizzes.feature.quizattempt.AnswerMapperTest"/>
        </classes>
    </test>
</suite>